{%extends "showroom/base.html" %}

{%block title %} Models {%endblock%}
{%block content %}
<div class="container">
    <div class="row">
        {% for model in models %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 " style="margin-top: 20px;">
                <img src="{{ model.image.url }}" class="card-img-top" alt="{{ model.name }}" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{ model.name }}</h5>
                    <p class="card-text">{{ model.brand }}</p>
                    <strong><p class="card-text">{{ model.price }}</p></strong>

                        <div class="col-12">
                            <a href="{% url 'showroom:model_detail' model.id %}" class="btn btn-primary mb-3">View Details</a>
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}